h2 {

}
h3 {
	font-weight: 700;
	border-bottom: 2px solid #ECECEC;
	padding: 10px 0 10px 0;
}
h4 {
	margin-bottom: 0px;
}
h5 {

}


body {
	font-family: 'Roboto Mono', 'Consolas', 'Andale Mono', 'Monaco', 'Courier New', Courier, monospace;
	margin: 50px;
	color: #444444;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 17px;
	line-height: 32px;
	font-weight: 1.75em;	
}

pre {
	display: block;
	margin-top: 20px;
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: .8rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f9f9f9;
	border-left: .25rem solid #e5e5e5
}

notice {
	display: block;
	margin-top: 20px;
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: .8rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #d3e4f0;
	border-left: .25rem solid #86bbe1;
}

table {
	margin: 25px 0px 25px 0;
}

th, td {
    padding: 8px;
}

table, th, td {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
	font-weight: 100;
	font-size: 14px;
}

a:link, a:visited {
	color: #3080B9;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


p.logo {
	color: #EEE;
	background-color: #333;
	background-image: url('images/logo.png');
	background-position: right;
	background-repeat: no-repeat;
	padding: 8px 6px 8px 20px;
	width: 160px;
	height: 45px;
}

p.logo a:link, p.logo a:visited {
	color: #FFFFFF;
}

p.date {
	padding: -10px 0px 0px 0px;
	margin: 0px;
}


#page {
    width:700px;
    margin: auto;
	z-index: 1;
}

#top {
}

#feature {
	background-color: #F98752;
	text-align: center;
	padding: 40px;
	color: #FFF;
	margin: 32px 0px 32px 0px;
}

#content{
}
